// Custom theme settings/USWDS overrides go here

$USWDS_PREFIX: "assets/uswds";

@use "uswds-core" with (
  $theme-image-path: "#{$USWDS_PREFIX}/img",
  $theme-font-path: "#{$USWDS_PREFIX}/fonts",
  $theme-show-compile-warnings: true,
  $theme-show-notifications: false,
  $theme-banner-max-width: "widescreen",
  $theme-checkbox-border-radius: "sm",
  $theme-font-type-sans: 'public-sans',

  // Colors
  // $theme-color-primary: "green-60v",
);